<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>
  <input type="text" (input)="onLengthChange($event.target.value)"/>
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="onLettersChange()"/>
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="onNumbersChange()"/>
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="onSymbolsChange()"/>
</div>

<button 
[disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
(click)="onButtonClick()">Generate!
</button>

<div>
  <label>Your Password</label>
  <input [value]="password"/>
</div> 

